/** @format */

.about {
	position: absolute;
	left: 8vw;
	top: 38vh;
	width: 85vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.profile-img {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		img {
			object-fit: cover;
			width: 200px;
			height: 200px;
			border-radius: 100%;
		}
	}
}
