.project-1 {
   position: absolute;
   top: 42%;
   left: 26%;
   transform: translate(-26%, -42%);
}

.project-2 {
   position: absolute;
   top: 42%;
   left: 50%;
   transform: translate(-50%, -42%);
}

.project-3 {
   position: absolute;
   top: 42%;
   left: 74%;
   transform: translate(-74%, -42%);
}

.project-4 {
   position: absolute;
   top: 89%;
   left: 26%;
   transform: translate(-26%, -89%);
}

.project-5 {
   position: absolute;
   top: 89%;
   left: 50%;
   transform: translate(-50%, -89%);
}

.project-6 {
   position: absolute;
   top: 89%;
   left: 74%;
   transform: translate(-74%, -89%);
}