/** @format */
#particle-js {
	width: 99vw;
	height: 98vh;
}

.home {
	position: absolute;
	left: 8vw;
	top: 38vh;
	width: 85vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.home-desc {
	.home-heading {
		color: rgba(226, 220, 220, 0.904);
		text-align: center;
		font-family: $font-family;
		font-size: 2rem;
		line-height: 6rem;
	}

	.highlight {
		color: rgb(255, 82, 82);
		font-family: "Ubuntu";
	}
}

// .txt-type {
// 	color: rgb(255, 0, 0);
// }

.txt-type > .txt {
	border-right: 0.2rem solid rgb(255, 255, 255);
	animation-duration: 2s;
	animation-name: blinkOut;
	animation-timing-function: ease-in-out;
}

@keyframes blinkOut {
	from {
		border-right: 0.2rem solid rgb(255, 255, 255);
	}
	to {
		border-right: 0;
	}
}
