@import './cardFlip';
@import './webdevProjects';

.projects {
   position: absolute;
   left: 5vw;
   top: 0vh;
   width: 95vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
      url(../../src/assets/Images/backgruond.png) no-repeat center center / cover;

   .project-heading {
      position: absolute;
      top: 3%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      font-family: 'Ubuntu';

      h2 {
         color: rgb(255, 154, 154);
         font-size: 3rem;
         font-family: 'Raleway';
      }

      p {
         margin-top: 3%;
         font-size: 1.4rem;
         letter-spacing: 2px;
      }
   }

   .viewing-options {
      width: 60vw;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 18%;
      padding-bottom: 10px;
      border-bottom: 2px solid #fff;
      font-family: 'Raleway';

      ul {
         list-style-type: none;
         margin: 0;
         padding: 0;
         overflow: hidden;
         // background-color: #333333;
      }

      li {
         float: left;
         margin-right: 2rem;


         span {
            font-size: 2.2rem;
         }
      }

      li span {
         display: block;
         font-size: 2rem;
         color: white;
         text-align: center;
         text-decoration: none;
         border-bottom: none;
         border-bottom: 0px solid rgb(255, 154, 154);
         background-color: none;
         padding: 10px;
         transition: color 400ms ease-in;
         transition: background-color 400ms ease-in;
      }

      li span:hover {
         // background-color: #111111;
         background-color: rgba(0, 0, 0, 0.178);
         color: rgb(255, 154, 154);
         cursor: pointer;
      }
   }
}