.project-1 {
   position: absolute;
   top: 41%;
   left: 26%;
   transform: translate(-26%, -41%);

   img {
      opacity: 0.9;
   }
}

.project-2 {
   position: absolute;
   top: 41%;
   left: 50%;
   transform: translate(-50%, -41%);

   img {
      opacity: 0.9;
   }
}

.project-3 {
   position: absolute;
   top: 41%;
   left: 74%;
   transform: translate(-74%, -41%);

   img {
      opacity: 0.9;
   }
}

.project-4 {
   position: absolute;
   top: 91%;
   left: 26%;
   transform: translate(-26%, -91%);
}

.project-5 {
   position: absolute;
   top: 91%;
   left: 50%;
   transform: translate(-50%, -91%);
}

.project-6 {
   position: absolute;
   top: 91%;
   left: 74%;
   transform: translate(-74%, -91%);
}