@import "./cardFlip";

.project-1 {
   position: absolute;
   top: 30%;
   left: 25%;

   .back-content {
      transform: translate(-25%, -30%);
   }

   img {
      opacity: 0.9;
   }
}

.project-2 {
   position: absolute;
   top: 30%;
   left: 42%;

   .back-content {
      transform: translate(-42%, -30%);
   }

   img {
      opacity: 0.9;
   }
}

.project-3 {
   position: absolute;
   top: 30%;
   left: 59%;

   .back-content {
      transform: translate(-59%, -30%);
   }

   img {
      opacity: 0.9;
   }
}

.project-4 {
   position: absolute;
   top: 60%;
   left: 25%;

   .back-content {
      transform: translate(-25%, -60%);
   }

   img {
      opacity: 0.9;
   }
}

.project-5 {
   position: absolute;
   top: 60%;
   left: 42%;

   .back-content {
      transform: translate(-42%, -60%);
   }

   img {
      opacity: 0.9;
   }
}

.project-6 {
   position: absolute;
   top: 60%;
   left: 59%;

   .back-content {
      transform: translate(-59%, -60%);
   }

   img {
      opacity: 0.9;
   }
}